/* =====================================================
   MOBILE (Style par défaut)
   ===================================================== */
.section {
    width: 100%;
    height: 50px;
    background-color: black;
    z-index: 9990;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; /* Centré sur mobile */
    gap: 0.5rem;
    width: 100%;
}

.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    gap: 0.25rem;
    cursor: pointer;
    font-size: 1.5rem;
    height: 25px;
}

.p {
    display: none; /* Masqué sur mobile */
}

/* =====================================================
   TABLETTE (≥ 668px)
   ===================================================== */
@media (min-width: 668px) {
    .div{
        gap: 1rem;
    }
     .icon {
        font-size: 2rem; 
    }
}

/* =====================================================
   DESKTOP (≥ 1200px)
   ===================================================== */
@media (min-width: 1200px) {
    .div {
        max-width: 1200px;
        margin: 0 auto;
        justify-content: flex-end;
        padding: 1rem;
        height: 50px;
        position: sticky; 
    }

    .icon {
        font-size: 2rem; 
    }

    .p {
        display: flex;
        font-size: 1rem;
    }
}
