.section {
  padding: 4rem 0;
  background-color:aliceblue;
}

.conteneur_general {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;
}

.conteneur_textes {
  text-align: center;
  margin-bottom: 3rem;
}

.conteneur_textes h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.conteneur_textes h3 {
  font-size: 1.2rem;
  color: #666;
  font-weight: normal;
}

.embla {
  overflow: hidden;
  position: relative;
  padding: 1rem 0;
}

.embla__container {
  display: flex;
  gap: 1rem;
}

.embla__slide {
    clip-path: polygon(83% 0, 100% 19%, 100% 100%, 0 100%, 1% 0);
  flex: 0 0 33.333%; /* 3 slides visibles */
  min-width: 0;
  padding: 0 1rem;
 
}

.temoignage_card {
  background: white;
  border-radius: 12px;
  padding: 2rem;

  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
     box-shadow: 0 15px 35px rgba(53, 49, 49, 0.25);
}

.photo_conteneur {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1rem;
  border: 3px solid #e9ecef;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contenu {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nom {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
}

.poste {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 1rem;
  font-style: italic;
}

.description {
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
  font-style: italic;
}

/* Responsive */
@media (max-width: 768px) {
  .embla__slide {
    flex: 0 0 100%; /* 1 slide visible sur mobile */
  }
  
  .conteneur_textes h2 {
    font-size: 2rem;
  }
}