.section {
  background-color: aliceblue;
  padding-top: 2rem;
  position: relative;
  top: 0;
  margin-top: 5rem;
  width: 100%;
}
.conteneur_general {
  max-width: 1200px;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.conteneur_slid {
  position: relative;
  top: 0;
  width: 100%;
  height: 25rem;
  background-color: black;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  & h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
    color: white;
    position: absolute;
    z-index: 3;

    margin: 0;
    font-size: 3.5rem;
    font-weight: 800;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  & .chapelur {
    color: #e54d2e;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
  z-index: 2;
}
.construction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  padding: 0 1rem;
  padding-top: 4rem;
}
.texte_construction {
  width: 100%;
  & h2 {
    color: black;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
  }
  & p {
    color: gray;
    padding: 1rem;
  }
  & h3 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
  }
}
.image_construction {
  width: 90%;
  height: 400px;
  background-color: black;
  position: relative;
  top: 0;
  filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.7));
}
/* ==========styles renovation========= */
.renovation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  padding: 5rem 0;
}
.image_renovation {
  filter: drop-shadow(1px 10px 11px rgba(0, 0, 0, 0.7));
  width: 90%;
  height: 100px;
  background-color: black;
  position: relative;
  top: 0;
  width: 100%;
  height: 400px;
}
.texte_renovation {
  width: 100%;
  & h2 {
    color: black;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
  }
  & p {
    color: gray;
    padding: 1rem;
  }
  & h3 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
  }
}
/* ================================== */
.realisation_construction_renovation {
  background-color: white;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  & h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
  }
}
.conteneur_realisations {
  padding-top: 4rem;
  width: 100%;
  display: grid;
  gap: 2.5rem;

  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));

  .image {
    position: relative;

    cursor: pointer;
    clip-path: polygon(84% 0, 100% 22%, 100% 100%, 0 100%, 0 0);
    object-fit: cover;
    background-color: black;
    width: 350px;
    height: 350px;
  }
}
.conteneur_cta {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  background-color: #e54d2e;
  width: 50%;
  height: 20rem;
  margin: 4rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  & h2 {
    color: black;
    font-size: 1.3rem;
    font-weight: bolder;
  }
  & .cta {
    width: 250px;
    filter: drop-shadow(1px 10px 11px rgba(0, 0, 0, 0.7));
    background-color: white;
    height: 70px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: #e54d2e;
      border: 2px solid white;
      color: white;
    }
  }
}
